<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicnu.tchmanage.dao.UsersDao">
    <select id="getInfo" parameterType="String" resultType="com.sicnu.tchmanage.bean.UsersBean">
        select user_name,role_name,role.role_id from users,role,user_role
        where users.account = user_role.user_id and role.role_id = user_role.role_id and
        users.account = #{account} and users.pswd = #{pswd}
    </select>
    <update id="postInfo" parameterType="String" >
        update users set pswd = #{pswd} where account = #{account} and uid = #{uid}
    </update>

</mapper>
